By virtue of and pursuant to the authority vested in me by the provisions of paragraph Eighth of subdivision SECOND of section 2 of the Civil Service Act (22 Stat. 403, 404), it is hereby ordered that Peres D. Ziegler may be appointed to a position as rural letter carrier in the Postal Service without compliance with the requirements of the Civil Service Rules.

Mr. Ziegler is a former member of the crew of the

U.S.S. Panay

and was injured in line of duty in the bombing and sinking of that vessel.
