Executive Order 8975—Authorizing the Attorney General To Make Appointments in the Alien Property Division Without Regard to the Requirements of the Civil Service Act and Rules
December 13, 1941
Franklin D. Roosevelt

By virtue of the authority vested in me by section 2 of the Civil Service Act (22 Stat. 404), the Attorney General of the United States is hereby authorized to make appointments to positions in the Alien Property Division, Department of Justice, including the position of head of the Division, without regard to the requirements of the Civil Service Act and Rules.

FRANKLIN D ROOSEVELT

The White House,

December 13, 1941.
