By virtue of the authority vested in me by section 2 of the Civil Service Act (22 Stat. 404), the Attorney General of   is hereby authorized to make appointments to positions in  ,  , including the position of head of the  , without regard to the requirements of the Civil Service Act and Rules.
