Executive Order 8485—Authorizing the Appointment of   to a Position as Rural Letter Carrier Without Regard to the Requirements of  
 
 

By virtue of and pursuant to the authority vested in me by the provisions of paragraph Eighth of subdivision SECOND of section 2 of the Civil Service Act (22 Stat. 403, 404), it is hereby ordered that   may be appointed to a position as rural letter carrier in   without compliance with the requirements of  .

Mr.   is a former member of the crew of  

and was injured in line of duty in the bombing and sinking of that vessel.

 

 ,

 .
