Executive  —Waiver of   to Permit the Appointment of   to   in  
 
 

By virtue of and pursuant to the authority vested in me by the provisions of paragraph  , subdivision SECOND, section 2 of the Civil Service Act (22 Stat. 403, 404), it is hereby ordered that the examination requirements of   may be waived to permit the appointment of   to an appropriate position in the classified service in  .

This order is recommended by  , who states that since  , Mr.   has rendered efficient service in   in a position excepted from civil service requirements.

 

 ,

 .
