Executive Order 9013—Waiving   to Permit   to Compete in   for the Position of Postmaster at  ,  
 
 

By virtue of the authority vested in me by the provisions of paragraph Eighth of subdivision SECOND of section 2 of the Civil Service Act (22 Stat. 403, 404), it is hereby ordered that the physical requirements for entrance to examinations under   be, and they are hereby, waived to permit   to participate in the competitive civil service examination for the position of Postmaster at  ,  , receipt of applications for which closed on  , and for which Mr.   filed application prior to the closing date.

 

 ,

 .
