Executive Order 8273—Excepting Appointments in   Coronado Exposition Commission From the Requirements of the Civil Service Act and Rules
 
 

By virtue of and pursuant to the authority vested in me be the provisions of paragraph Eighth of subdivision SECOND of section 2 of the Civil Service Act (22 Stat. 403, 404), it is hereby ordered that appointments to positions under   established by the act of  , Public, No. 186, 76th  , may be effected without regard to the competitive requirements of the Civil Service Act and Rules.

 

 ,

 .
