Executive Order  —Safety Belt Use Requirements for Federal Employees
 
 

 , thousands of lives could be saved and injuries prevented if motorists would use their safety belts. The   cost to society of these needless deaths and injuries is currently in excess of $32 billion. Taxpayers bear a large share of this cost. The estimated   cost to  , and local governments as a result of auto accidents is $11 billion. I have determined that an on-the-job safety belt use policy for Federal employees will reduce human pain and suffering, set an example for the private sector, and reduce the burden on the taxpayers caused by motor vehicle accidents.

Accordingly, by the authority vested in me as President by the Constitution and laws of  , including Section 7902(c) of Title 5 of the United States Code and Section 19 of   of  , as amended (29 U.S.C. 668), it is hereby ordered as follows:

Section 1. Policy. Each   employee occupying the front seat of a motor vehicle on official business, whose seat is equipped with a safety belt, shall have the safety belt properly fastened at all times when the vehicle is in motion.

 . 2. Scope of Order. All agencies of the   branch are directed to promulgate rules and take all appropriate measures within their existing employee occupational safety and health programs to carry out the purposes of this  . This includes, but is not limited to, conducting an education program for employees about the requirements of this  . The term "agency" as used in this   means  , as defined in 5 U.S.C. 101, or any employing unit or authority of the Federal government, other than those of the   and   branches. The Secretary of   shall cooperate and consult with the heads of agencies in the   and   branches of the   to encourage and help them adopt safety belt use programs. The Secretary of   shall also submit an   report to the President that includes the status of on-the-job belt use by Federal employees.

 . 3. Coordination. The Secretary of   shall provide leadership and guidance to the heads of agencies to assist them with the employee safety belt programs established pursuant to this  .

 . 4. Other Powers and Duties. (a) Nothing in this   shall be construed to impair or alter the powers and duties of the heads of the various Federal agencies pursuant to Section 19 of   of  , or to Sections 7901,  , and   of Title 5 of the United States Code, nor shall it be construed to affect any right, duty, or procedure under  .

(b) The Secretary of   shall be responsible for implementation of all provisions of this   insofar as they apply to military personnel of  .

 . 5. Causes of Action. Nothing in this   shall be construed to create a new cause of action against   or to alter in any way   liability under the Federal Tort Claims Act.

 

 ,

 .

[Filed with  , 10:20 a.m.,  ]
