By virtue of the authority vested in me by the provisions of section 2 of the Civil Service Act (22 Stat. 403, 404), it is hereby ordered that the age requirements for entrance to examinations under   be, and they are hereby, waived to permit   to participate in the competitive civil-service examination for the position of postmaster at  ,  .
