For the purpose of determining qualification for the exceptions from the usual requirements for naturalization, the period of   military operations in which   were engaged in armed conflict with a hostile foreign force commenced on  , and terminated on  . Those persons serving honorably in active-duty status in   during this period, in the   campaign, are eligible for naturalization in accordance with the statutory exceptions to the naturalization requirements, as provided in Section 1440(b) of Title 8, United States Code. Qualifying active-duty service includes service conducted, during this period, on the islands of  , Carriacou,  , and those islands adjacent to   in   where such service was in direct support of the military operations in  . Qualifying active-duty service during this period also includes service conducted in the air space above  , in the adjacent seas where operations were conducted, and at   in  .
