Section 1.  . Federal agencies shall, to the extent practicable:

(a)

conform their procurement regulations and practices to the policies and requirements of   the Clean Air Act Amendments, which deal with stratospheric ozone protection;

(b) maximize the use of safe alternatives to ozone-depleting substances;

(c)

evaluate the present and future uses of ozone-depleting substances, including making assessments of existing and future needs for such materials and evaluate their use of and plans for recycling;

(d)

revise their procurement practices and implement cost-effective programs both to modify specifications and contracts that require the use of ozone-depleting substances and to substitute non-ozone-depleting substances to the extent economically practicable; and

(e)

exercise leadership, develop exemplary practices, and disseminate information on successful efforts in phasing out ozone-depleting substances.

 . 2. Definitions. (a) "Federal agency" means any executive department, military department, or independent agency within the meaning of 5 U.S.C. 101, 102, or 104(1), respectively.

(b)

"Procurement" and "acquisition" are used interchangeably to refer to the processes through which   agencies purchase products and services.

(c)

"Procurement regulations, policies and procedures" encompasses the complete acquisition process, including the generation of product descriptions by individuals responsible for determining which substances must be acquired by the agency to meet its mission.

(d)

"Ozone-depleting substances" means the substances controlled internationally under the Montreal Protocol and nationally under Title VI of the Clean Air Act Amendments. This includes both Class I and Class II substances as follows:

(i)

"Class I substance" means any substance designated as Class I in the   notice of   (57  .  .  ), including chlorofluorocarbons, halons, carbon tetrachloride, and methyl chloroform and any other substance so designated by   (" ") by regulation at  ; and

(ii)

"Class II substance" means any substance designated as Class II in the   notice of   (57  .  .  ), including hydrochlorofluorocarbons and any other substances so designated by   by regulation at  .

(e) "Recycling" is used to encompass recovery and reclamation, as well

as the reuse of controlled substances.  . 3. Policy. It is the policy of   that Federal agencies: (i) implement cost-effective programs to minimize the procurement of materials and substances that contribute to the depletion of stratospheric ozone; and (ii) give preference to the procurement of alternative chemicals, products, and manufacturing processes that reduce overall risks to human health and the environment by lessening the depletion of ozone in the upper atmosphere. In implementing this policy, prior to final promulgation of   regulations on Federal procurement, Federal agencies shall begin conforming their procurement policies to the general requirements of   the Clean Air Act Amendments by:

(a)

minimizing, where economically practicable, the procurement of products containing or manufactured with Class I substances in anticipation of the phaseout schedule to be promulgated by   for Class I substances, and maximizing the use of safe alternatives. In developing their procurement policies, agencies should be aware of the phaseout schedule for Class II substances;

(b)

amending existing contracts, to the extent permitted by law and where practicable, to be consistent with the phaseout schedules for Class I substances. In awarding contracts, agencies should be aware of the phaseout schedule for Class II substances in awarding contracts;

(c)

implementing policies and practices that recognize the increasingly limited availability of Class I substances as production levels capped by the Montreal Protocol decline until final phaseout. Such practices shall include, but are not limited to:

(i) reducing emissions and recycling ozone-depleting substances;

(ii)

ceasing the purchase of nonessential products containing or manufactured with ozone-depleting substances; and

(iii) requiring that new contracts provide that any acquired products containing or manufactured with Class I or Class II substances be labeled in accordance with section 611 of the Clean Air Act Amendments.

 . 4. Responsibilities. Not   after the effective date of this   order, each Federal agency, where feasible, shall have in place practices that, where economically practicable, minimize the procurement of Class I substances. Agencies also shall be aware of the phaseout schedule for Class II substances. Agency practices may include, but are not limited to:

(a) altering existing equipment and/or procedures to make use of safe alternatives;

(b) specifying the use of safe alternatives and of goods and services, where available, that do not require the use of Class I substances in new procurements and that limit the use of Class II substances consistent with section 612 of the Clean Air Act Amendments; and

(c) amending existing contracts, to the extent permitted by law and where

practicable, to require the use of safe alternatives.  . 5. Reporting Requirements. Not   after the effective date of this   order, each Federal agency shall submit to   a report regarding the implementation of this order. The report shall include a certification by each agency that its regulations and procurement practices are being amended to comply with this order.

 . 6.Exceptions. Exceptions to compliance with this   order may be made in accordance with section 604 of the Clean Air Act Amendments and with the provisions of the Montreal Protocol.

 . 7.  . This Executive order is effective   after the date of issuance. Although full implementation of this order must await revisions to   ("FAR"), it is expected that   agencies will take all appropriate actions in the interim to implement those aspects of the order that are not dependent upon regulatory revision.

 . 8.  . Pursuant to section 6(a) of  , as amended, 41 U.S.C. 405(a),   and   shall ensure that the policies established herein are incorporated in the FAR within   from the date this order is issued.

 . 9.  . This order does not create any right or benefit, substantive or procedural, enforceable by a   against  , its officers or employees, or any other person.
